/* Base styles */
body {
  background-color: #c99157;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  color: black;
}

h1 {
  text-align: center;
  color: #ffffff;
  margin-top: 40px;
  font-size: 3rem;
  letter-spacing: 0.1rem;
  text-shadow: 2px 2px #000000;
}

form {
  width: 80%;
  max-width: 500px;
  margin: 0 auto;
  margin-bottom: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px black;
  border: 2px solid #000000;
}

label {
  font-weight: bold;
  font-size: 1.5rem;
  color: #5a5a5a;
  display: block;
  margin-bottom: 10px;
}

input[type="text"] {
  font-size: 1.5rem;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
  width: 95%;
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
  border: 2px solid silver;
}

input[type="button"] {
  background-color: #6d4c41;
  color: #e0e0e0;
  font-weight: bold;
  font-size: 0.8rem;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  box-shadow: 2px 2px grey;
  text-shadow: 1px 1px #000000;
}

input[type="button"]:hover {
  background-color: #8d6e63;
}

p {
  font-size: 1.5rem;
  color: #e0e0e0;
  margin-bottom: 10px;
}
